.octopus {
  display: block;
  position: relative;
  top: 10px;
  left: 100px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;

}

.glasses {
  display: block;
  position: relative;
  top: 170px;
  left: 100px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.hat {
  display: block;
  position: relative;
  bottom: 350px;
  left: 110px;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px
}

